* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    margin: 0 20px;
    min-height: 100vh;
    
}

main {
   max-width: 100vw;
}

#header-title {
    padding: 10px 0;
    border-bottom: 5px solid #007bff;
    font-size: 3rem;
    max-width: 100vw;
}

#category-select-div {
    padding: 10px 0;
    display: flex;
    align-items: baseline;
    font-size: 0.7rem;
}

#select-box {
    height: 38px;
    margin: 0 20px 0 10px;
    border: 3px solid #007bff;
    background: #eee;
    color: #007bff;
    border-radius: 5px;
    font-weight: bold;
}

table {
    margin: 10px 0 30px 0;
    font-size: 0.5rem;
}

#table-div {
    margin-bottom: 50px;
}

th {
    color: white;
}

td {
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;  
    text-align: center;
    z-index: -1;
}

a {
    color: #007bff;
    padding: 10px;
    font-weight: 900;
    font-size: 1.5rem;
    /* letter-spacing: 0.1em; */
    /* text-decoration: underline; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: #eaeaea;
    border: 3px solid black;
    border-radius: 5px;
}

.link-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
}

.add-item-div {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    margin: 0 auto;
}

.add_item_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#add-item-box select,
#add-item-box-2 select {
    margin-right: 0;
}

.add-item-div button {
    margin-top: 20px;
}

#add-cat-div {
    margin-top: 10px;
}

#cat-h2 {
    margin-top: 50px;
}

@media only screen and (min-width: 768px) {
    #category-select-div {
        font-size: 1rem;
    }

    table {
        font-size: 1rem;
    }
}




